<%- include("header.ejs") %>

<main>

    <section id="articles">
        <div>
            <h1>Articles</h1>
        </div>
    </section>

    <section id="new-button">
        <div>
            <button type="button">New post</button>
        </div>
    </section>

</main>

<%- include("footer.ejs") %>
<%- include("../public/script.js") %>
</body>
</html>