<%- include("header.ejs") %>

<section id="postEditor">
    <textarea name="" id="postText"></textarea>
    <br>
    <br>
    <button id="postPost">Postar</button>
</section>

<%- include("footer.ejs") %>
