/* Don't change the existing CSS. */

#outer-box {
  padding: 10px;
  background-color: rgb(85, 17, 148);
}
.box {
  background-color: blue;
  padding: 10px;
}
.inner-box {
  padding: 0;
  background-color: red;
}
p {
  color: yellow;
  margin: 0;
  padding: 0;
}
.white-text {
  
  padding: 10px;
  color: white;
}
